@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nanum+Gothic&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

/* Body styles */
body {
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    width: 100%;
    height: 35px;
    position: fixed;
    background-color: blue;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

header>a {
    vertical-align: center;
    padding-left: 8px;
}

h1 {
    font-family: 'Nanum Gothic', 'Lato', sans-serif;
    color: #fafafa;
    font-size: 20px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: blue;
    width: 100%;
    left: 0;
    padding-left: 8px;
    padding-bottom: 3px;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#menu {
    list-style-type: none;
}

#menu>li {
    font-family: 'Nanum Gothic', 'Lato', sans-serif;
    margin-bottom: 0.5em;
    font-weight: bold;
}

a:hover {
    color:orange;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 5px;
    padding-top: 2px;
}

.text-white {
    color: white;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
}

/* Main content styles */
main {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 8px;
}

#landing-intro>h3 {
    text-align: center;
    
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.location-holder {
    flex-shrink: 1;
    min-width: 300px;
    max-width: 800px;
    max-height: 400px;
    text-align: center;
}

.location-holder img {
    width: 90%;
    max-width: 400px;
    background-color: #3a3a3a;
}


/* location page styles */
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.location-holder-small {
    flex-shrink: 1;
    min-width: 200px;
    max-width: 350px;
    max-height: 400px;
    text-align: center;
}

.location-holder-small img {
    width: 90%;
    background-color: #3a3a3a;
}

#location-map {
    text-align: center;
}

#location-map iframe{
    width: 80%;
    height: 400px;
}


/* Footer Styles */
footer {
    background-color: chartreuse;
    position: fixed;
    bottom: 0;
    width: 100vw;
}